@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700;800;900&display=swap');*
{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}
.gradient{
    background-image:  linear-gradient(to left, #b2c5ef, #ddd9eb); 
}
.container{
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
}
.navbar
{
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
}
.logo
{
    width: 200px;
    cursor: pointer;
}
.cart
{
    width: 40px;
    cursor: pointer;
}
nav
{
    flex: 1;
    padding-left: 60px;
}
nav ul li
{
    display: inline-block;
    list-style: none;
    margin: 0px 30px;
}
nav ul li a
{
    text-decoration: none;
    color: #333;
    font-size: 1.3em;
}
.content h1
{
    font-size: 60px;
    font-weight: 600;
    margin-top: 24px;
    margin-bottom: 15px;
    color: #232d60;
}
.content p
{
    font-size: 20px;
    color: #ffffff;
}
.content
{
    margin-left: 10%;
    margin-top: 10%;
}
.content .button
{
    display: inline-block;
    border-radius: 6px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    box-shadow: 3px 8px 22px rgba(94,28,68,0,15);
}
.arrow-icons
{
    margin-top: 40px;
    display: flex;
}
.arrow-icons img
{
    width: 40px;
    margin-right: 25px;
}
.main_photo
{
    height: 90%;
    position: absolute;
    bottom: 0;
    right: 160px;
}
.social-links
{
    transform: rotate(-90deg);
    position: absolute;
    left: -80px;
    bottom: 180px;
}
.social-links a{
    text-decoration: none;
    color: #6a7199;
    padding-right: 20px;
    font-size: 15px;
    text-transform: uppercase;
}

.images-container{
    list-style: none;
    width: 100%;
}

.images-container li{
    float: left;
    width: 25%;
    height: auto;
}

.photos{
    width: 100%;
    overflow: hidden;
    background: black;
}
.photos img{
    opacity: 0.7;
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    -o-transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.photos img:hover {
    -webkit-transform: scale(1.25);
        -ms-transform: scale(1.25);
            transform: scale(1.25);
    opacity: 1;
}

#images-section{
    margin-left: 0;
    height: 100%;
    width: 100%;
    margin-top: 10%;
    
}
.middle{
    text-align:center;
    margin: auto;
}
.button {
    background-color: #564caf;
    border: none;
    color: white;
    padding: 15px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.button {
    transition-duration: 0.4s;
    margin-top: 10px;
  }
  
  .button:hover {
    background-color: #7475dd;
    color: white;
  }
  .contact{
      padding-top: 30px;
      padding-bottom: 30px;
  }
#footer-text{
    margin-top: 10px;
    padding-bottom: 10px;
}